



<div [className]="cards"  [ngStyle]="{
  'margin-top':'20px',
  'padding':'10px'
}">
<h2 [ngStyle]="{ 'color':'#FFFFFF',

}">
Recent Posts
</h2>
  <div [className]="cardup ">

    <div  #animatedElement class="one" [ngStyle]="{

      'background-color':'#145E2A',
      'text-align':'center',
      'padding':'8px',
      'padding-bottom':'9px',
      'border-radius': '20px',
  'color':'#FFFFFF',

    }">
      <img
      src="assets/images/Rectangle 19.png"
      alt="card1"
      [className]="img1"
      loading="lazy"
      width={320}
      height={200}
      >
      <h3 [ngStyle]="{'font-weight':'700', 'font-family': 'Montserrat'}">Lörem ipsum patt karirenyst</h3>
      <p [ngStyle]="{'font-weight':'200', 'font-family': 'Montserrat'

}">
        Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen
      </p>
      <button [className]="btn"
      [ngStyle]="{'
      background-color':'#D9D9D9',
      'font-family': 'Montserrat',
      'border':'none',
      'padding':'5px',
      'border-radius':'7px',
      'width':'150px',
      'font-size':'16px'
      ,
      'box-shadow':' 10px 10px 20px rgba(0, 0, 0, 0.5)'
      }">
        Read more
      </button>
    </div>
    <div #animatedElement class="two" [ngStyle]="{

      'background-color':'#145E2A',
      'text-align':'center',
      'padding':'8px',
      'padding-bottom':'9px',
      'border-radius': '20px',
  'color':'#FFFFFF',

    }">
      <img
      src="assets/images/imge2.png"
      alt="card1"
      [className]="img1"
      loading="lazy"
      width={320}
      height={200}
      >
      <h3 [ngStyle]="{'font-weight':'700', 'font-family': 'Montserrat'}">Lörem ipsum patt karirenyst</h3>
      <p [ngStyle]="{'font-weight':'200', 'font-family': 'Montserrat'

}">
        Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen
      </p>
      <button    [className]="btn"
      [ngStyle]="{'
      background-color':'#D9D9D9',
      'font-family': 'Montserrat',
      'border':'none',
      'padding':'5px',
      'border-radius':'7px',
      'width':'150px',
      'font-size':'16px'
      ,
      'box-shadow':' 10px 10px 20px rgba(0, 0, 0, 0.5)'
      }">
        Read more
      </button>
    </div>
    <div #animatedElement class="three" [ngStyle]="{

      'background-color':'#145E2A',
      'text-align':'center',
      'padding':'8px',
      'padding-bottom':'9px',
      'border-radius': '20px',
  'color':'#FFFFFF',

    }">
      <img
      src="assets/images/imge3.jpg"
      alt="card1"
      [className]="img1"
      loading="lazy"
      width={320}
      height={200}
      [ngStyle]="{'border-radius':'10px'}"
      >
      <h3 [ngStyle]="{'font-weight':'700', 'font-family': 'Montserrat'}">Lörem ipsum patt karirenyst</h3>
      <p [ngStyle]="{'font-weight':'200', 'font-family': 'Montserrat'

}">
        Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen
      </p>
      <button [className]="btn"
      [ngStyle]="{'
      background-color':'#D9D9D9',
      'font-family': 'Montserrat',
      'border':'none',
      'padding':'5px',
      'border-radius':'7px',
      'width':'150px',
      'font-size':'16px'
      ,
      'box-shadow':' 10px 10px 20px rgba(0, 0, 0, 0.5)'
      }">
        Read more
      </button>
    </div>

  </div>

  <div [className]="carddown">
    <div #animatedElement class="one" [ngStyle]="{

      'background-color':'#145E2A',
      'text-align':'center',
      'padding':'8px',
      'padding-bottom':'9px',
      'border-radius': '20px',
  'color':'#FFFFFF',

    }">
      <img
      src="assets/images/imge5.png"
      alt="card1"
      [className]="img1"
      loading="lazy"
      width={320}
      height={200}
      >
      <h3 [ngStyle]="{'font-weight':'700', 'font-family': 'Montserrat'}">Lörem ipsum patt karirenyst</h3>
      <p [ngStyle]="{'font-weight':'200', 'font-family': 'Montserrat'

}">
        Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen
      </p>
      <button [className]="btn"
      [ngStyle]="{'
      background-color':'#D9D9D9',
      'font-family': 'Montserrat',
      'border':'none',
      'padding':'5px',
      'border-radius':'7px',
      'width':'150px',
      'font-size':'16px'
      ,
      'box-shadow':' 10px 10px 20px rgba(0, 0, 0, 0.5)'
      }">
        Read more
      </button>
    </div>
    <div #animatedElement class="two" [ngStyle]="{

      'background-color':'#145E2A',
      'text-align':'center',
      'padding':'8px',
      'padding-bottom':'9px',
      'border-radius': '20px',
  'color':'#FFFFFF',

    }">
      <img
      src="assets/images/img6.png"
      alt="card1"
      [className]="img1"
      loading="lazy"
      width={320}
      height={200}
      >
      <h3 [ngStyle]="{'font-weight':'700', 'font-family': 'Montserrat'}">Lörem ipsum patt karirenyst</h3>
      <p [ngStyle]="{'font-weight':'200', 'font-family': 'Montserrat'

}">
        Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen
      </p>
      <button [className]="btn"
      [ngStyle]="{'
      background-color':'#D9D9D9',
      'font-family': 'Montserrat',
      'border':'none',
      'padding':'5px',
      'border-radius':'7px',
      'width':'150px',
      'font-size':'16px'
      ,
      'box-shadow':' 10px 10px 20px rgba(0, 0, 0, 0.5)'
      }">
        Read more
      </button>
    </div>
    <div #animatedElement class="four" [ngStyle]="{

      'background-color':'#145E2A',
      'text-align':'center',
      'padding':'8px',
      'padding-bottom':'9px',
      'border-radius': '20px',
  'color':'#FFFFFF',

    }">
      <img
      src="assets/images/imge4.png"
      alt="card1"
      [className]="img1"
      loading="lazy"
      width={320}
      height={200}
      >
      <h3 [ngStyle]="{'font-weight':'700', 'font-family': 'Montserrat'}">Lörem ipsum patt karirenyst</h3>
      <p [ngStyle]="{'font-weight':'200', 'font-family': 'Montserrat'

}">
        Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen
      </p>
      <button [className]="btn"
      [ngStyle]="{'
      background-color':'#D9D9D9',
      'font-family': 'Montserrat',
      'border':'none',
      'padding':'5px',
      'border-radius':'7px',
      'width':'150px',
      'font-size':'16px'
      ,
      'box-shadow':' 10px 10px 20px rgba(0, 0, 0, 0.5)'
      }">
        Read more
      </button>
    </div>
  </div>
</div>
