<div class="container">

  <div class="review">
    <h2>daily blog</h2>
    <p> Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. </p>
  </div>

  <div class="icons">
    <div class="one">
      <img loading="lazy" src="assets/images/Group 20.png" alt="icon" srcset="">
    </div>
    <div class="one">
      <img loading="lazy" src="assets/images/Group 22.png" alt="icon" srcset="">

    </div>
    <div class="one">
      <img loading="lazy" src="assets/images/Group 23.png" alt="icon" srcset="">

    </div>
    <div class="one">
      <img loading="lazy" src="assets/images/Vector (1).png" alt="icon" srcset="">

    </div>
  </div>
</div>
<div class="copy">
  <h4>© 2023 dailyblog. All rights reserved.</h4>
</div>
