.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
}
.review{
  width: 35%;
}
.review p{
font-size: 18px;
  line-height: 30px;
  color: #c0c0c0;

}
.icons{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.copy{
  color: #acacac;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
@media (max-width: 640px )  {
  .review {
    width:100%;
  }
  .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  .copy{
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 920px )  {
  .review {
    width:100%;
  }
  .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  .copy{
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 1372px )  {
  .review {
    width:100%;
  }
  .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  .copy{
    font-size: 12px;
    text-align: center;
  }
}
