<div class="container" >
  <div class="picture" >
    <img

    src="assets/images/Rectangle 13 (1).png"
    alt="main">
  </div>
  <div class="index " [ngStyle]="{
    'color':'#FFFFFF',
    'background-color':'rgba(20, 94, 42, 0.7)
    ',
    'padding':'16px',
    'border-radius':'10px',
    'line-height':'30px',
    'text-align':'left',
    }">


      <p [ngStyle]="
      {
      'text-align':'left',
      'color':'#D9D9D9',
      'font-size':'22px'
      }
      ">
        Urban Planning
      </p>
      <p
      [className]="title"
      >
        Lörem ipsum europlande krohiskap
        panstik, förväntis.
      </p>
      <p [className]="paragraph">

        Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt.
      </p>




<button [className]="btn" [ngStyle]="{'
      background-color':'#D9D9D9',
      'font-family': 'Montserrat',
      'border':'none',
      'padding':'5px',
      'border-radius':'7px'
      }">
  Read More
</button>
  </div>
</div>
